<turbo-stream action="append" target="passengers">
  <template>
    <div>
        <%= f.label :name, "Name:" %>
        <%= f.text_field :name %>
        <%= f.label :email, "Email:" %>
        <%= f.text_field :email %>
      </div>
  </template>
</turbo-stream>