.formsearch{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  background-color: #a1a1aa;
  border-radius: 25px;
  align-items: center;
}

.formsearch div {
  margin: auto;
  display: flex;
  width: 100px;
  gap: 10px
}
.formsearch input[type = "submit"]{
  height: 50%;
  border-radius: 25px;
  margin-right: 50px;
}
.flight {
  margin-bottom: 100px;
}